.at-signup-link, .at-title{
	display: none;
}

li{
  list-style: none;
}

a, a:visited{
  color: green;
  text-decoration: none;
}

.deleteIcon{
  display: none;
  font-size: 16px;
  color: red;
  padding-left: 5px;
}

.checklistLink:hover .deleteIcon, 
.taskLink:hover .deleteIcon{
  display: inline-block;
  cursor: pointer;
}

.priorityLabel{
  display: none;
  width: 70px;
}

.priorityArrows{
  display: none;
  width: 47px;
}

.arrow{
  width: 18px;
  color: #9F9F9F;
  font-size: 22px;
  display: inline-block;  
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.upArrow{
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.downArrow{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.upArrow:hover{
  color: #be0000;
}

.downArrow:hover{
  color: #129fff;
}