.at-signup-link, .at-title{
	display: none;
}

li{
  list-style: none;
}

a, a:visited{
  color: green;
  text-decoration: none;
}

.deleteIcon{
  display: none;
  font-size: 12px;
  color: red;
  padding-left: 5px;
}

.checklistLink:hover .deleteIcon, 
.taskLink:hover .deleteIcon{
  display: inline-block;
  cursor: pointer;
}

